
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  background-color: #403f3f;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;  
  align-items: center;  
  flex-direction: column;

  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -30px;
  background: #1e1e1e;
  animation: gradientShift 10s ease infinite;
  border: 1px solid #2a2a2a;
  z-index: -1;
  border-radius: 15px;
}

button {
  cursor: pointer;
}

#checkBtn {
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#checkBtn {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  font-family: inherit;
  cursor: pointer;
  background: #1a1a1a;
  transition: transform 0.2s ease;
  color: #fff;
  font-weight: bold;
}

/* Slight press effect */
#checkBtn:hover {
  transform: scale(1.03);
}

/* Shine layer */
#checkBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
}

#checkBtn:active {
  transform: scale(0.97);
}

/* Animate shine */
#checkBtn:hover::before {
  animation: shine 0.8s forwards;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}


textarea {
  width: 700px;
  max-width: 90%;
  height: 250px;
  padding: 50px;
  margin: 5px;

  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.1);

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);

  color: white;
  font-size: 16px;
  resize: none;

  outline: none;
  transition: 0.3s ease;
}

textarea:focus {
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow: 0 0 20px rgba(255,255,255,0.1);
}

.result {
  display: flex;
  justify-content: center;  
  align-items: center;
}